html {
  background-color: #05668d;
}

.form,
.matkuls {
  margin-top: 5%;
  background-color: #05668d;
}

.delbtn {
  margin-top: 3%;
}

.addbtn {
  margin-top: 2%;
}

.navbar {
  background-color: #4a4e69 !important;
}

.navbar .navbar-nav li a {
  color: #f1faee;
  font-size: 1.2vw;
}

.matkul-name {
  font-size: 2vw;
  color: #caf0f8;
}

.matkul-name:hover {
  color: #48cae4;
}

.matkul-dosen,
.matkul-ruang {
  font-size: 1.3vw;
  color: #f1faee;
}

.label {
  color: #f1faee;
  font-size: 1.3vw;
}

.form {
  margin-top: 5%;
}

.form-control {
  height: 5vh;
}

.detail {
  color: #f1faee;
}

.the-matkul {
  margin-top: 5%;
  background-color: #05668d;
}

.matkul-container {
  margin-top: 2.1%;
}

.matkul-name.detail {
  font-size: 2vw;
}

.matkul-dosen.detail,
.matkul-ruang.detail,
.matkul-sks.detail {
  font-size: 1.5vw;
}

.sksem {
  margin-top: 4.5%;
}

.desktail {
  margin-top: 3%;
}

.desk {
  color: #f1faee;
  font-size: 1vw;
}
