{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid form">
    <form method="POST" action="{% url 'story5:add-matkul' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1" class="label">Nama Matkul</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama Matkul" name="nama" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1" class="label">Dosen Pengajar</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama Dosen Pengajar" name="dosen" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1" class="label">Ruang Kelas</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ruang Kelas" name="ruang" required>
        </div>
        <label for="exampleFormControlInput1" class="label">Semester</label>
        <select class="form-control mb-1" name="semester" required>
            <option value="2020/2021 Gasal">2020/2021 Gasal</option>
            <option value="2020/2021 Genap">2020/2021 Genap</option>
            <option value="2021/2022 Gasal">2021/2022 Gasal</option>
            <option value="2021/2022 Genap">2021/2022 Genap</option>
            <option value="2022/2023 Gasal">2022/2023 Gasal</option>
            <option value="2022/2023 Genap">2022/2023 Genap</option>
        </select>
        <label for="exampleFormControlInput1" class="label">Jumlah SKS</label>
        <input class="form-control mr-1 sks-input" type="number" value=1 name="sks" required>
        <label for="exampleFormControlInput1" class="label">Deskripsi Matkul</label>
        <textarea class="form-control w-100 form-transparent description-input" placeholder="Deskripsi Matkul" name="deskripsi" required></textarea>
        <button class="btn btn-primary addbtn" type="submit">Tambah Matkul</button>
    </form>
</div>
{% endblock %}