{% extends 'base.html' %} {% load static %} {% block content %}
<div class="the-matkul p-3 row rounded-lg mb-3">
    <div class="col-3"></div>
    <div class="col-4 matkul-container">
        <h2 class="p-0 m-0 matkul-name detail">
            {{matkul.nama}}
        </h2>
        <p class="p-0 m-0 matkul-ruang detail">Ruangan: {{matkul.ruang}}</p>
        <p class="p-0 m-0 matkul-dosen detail">Dosen Pengajar: {{matkul.dosen}}</p>
    </div>
    <div class="col-3 sksem">
        <p class="p-0 m-0 matkul-sks detail">Jumlah SKS: {{matkul.sks}} SKS</p>
        <p class="p-0 m-0 matkul-dosen detail">Semester: {{matkul.semester}}</p>
    </div>
    <div class="col-2"></div>
    <div class="col-3"></div>
    <div class="col-7 desktail">
        <p class="p-0 m-0 matkul-sks detail">Deskripsi Matkul:</p>
        <div class="desc p-2 mt-2 rounded-lg desk">
            {{matkul.deskripsi}}
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}