{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid matkuls">
    {% for matkul in list_matkul %}
        <div class="matkul-list p-3 row rounded-lg mb-3">
            <div class="col-3"></div>
            <div class="col-4 matkul-container">
                <h2 class="p-0 m-0 matkul-name">
                    <a class="matkul-name" href={{matkul.get_absolute_url}}>
                        {{matkul.nama}}
                    </a>
                </h2>
                <p class="p-0 m-0 matkul-ruang">Ruangan: {{matkul.ruang}}</p>
                <p class="p-0 m-0 matkul-dosen">Dosen Pengajar: {{matkul.dosen}}</p>
                <p class="p-0 m-0 matkul-dosen">Jumlah SKS: {{matkul.sks}}</p>
            </div>
            <div class="col-3 delbtn">
                <form action="{% url 'story5:delete-matkul' matkul.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-lg" type="input">
                        Hapus Matkul
                    </button>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
        {% endfor %}
</div>
{% endblock %}
